:root {
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-ligt-blue: #23a9e1;
  --basic-hover: #669ec0;
  --basic-darker-blue: #81b3d2;
  --basic-white: #ffffff;
  --basic-gray-white: #f2f2f2;
  --basic-extra-gray: #cacaca;
  --basic-ligt-gray: #a9a9a9;
  --basic-gray-light: #ababab;
  --basic-brown: #491213;
}
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}
.site-navigation,
.news-list,
.social-button,
.examples-house-hotel,
.sort,
.ability-list {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.house:hover {
  color: #81b3d2;
}

.site-navigation a:focus,
.house:focus {
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.features-list {
  list-style: none;
}

.button-search {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-phone {
  color: black;
  font-size: 21px;
}

.map {
  position: static;
}

.button-house {
  background-color: var(--basic-darker-blue);
  width: 110px;
  height: 27px;
  text-align: center;
  margin: 6px;
  border: 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.button-search {
  background-color: #766357;
  position: absolute;
  width: 568px;
  height: 86px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  left: 100px;
  top: 1982px;
}

.button-search:hover {
  background-color: #604e43;
}

.house {
  color: black;
  list-style: none;
}
