:root {
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-ligt-blue: #23a9e1;
  --basic-hover: #669ec0;
  --basic-darker-blue: #81b3d2;
  --blue: #5496bd;
  --basic-white: #ffffff;
  --basic-gray-white: #f2f2f2;
  --basic-extra-gray: #cacaca;
  --basic-ligt-gray: #a9a9a9;
  --basic-gray-light: #ababab;
  --color-white: #bdbbbc;
  --basic-brown: #491213;
  --light-brown: #766357;
  --light-brown-two: #604e43;
  --light-brown-three: #503e33;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  padding: 0 70px;
  color: var(--basic-black);
  background-color: transparent;
}


.site-navigation,
.news-list,
.social-button,
.examples-house-hotel,
.sort,
.ability-list,
.sort {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a,
.user-navigation a,
.website {
  color: var(--basic-black);
}

.site-navigation a:hover,
.house:hover {
  color: var(--basic-darker-blue);
}

nav {
  display: block;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
}

.sort {
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sort:hover {
  color: var(--basic-darker-blue);
  opacity: 1;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sort:focus {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.site-navigation a:focus,
.house:focus h3 {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.features-list {
  list-style: none;
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: 5px solid red;
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer-contacts social-button footer-copyrigh";
  align-items: center;
  max-width: 1200px;
  min-height: 120px;
  position: relative;
  z-index: 1;
}

.footer-phone,
.sedona-center {
  color: var(--basic-black);
  font-size: 21px;
}

.sedona-2 { 
  color: #333333;
}

.map {
  position: static;
}

.button-house-1 {
  background-color: var(--basic-darker-blue);
  width: 110px;
  height: 27px;
  text-align: center;
  margin-bottom: 3px;
  margin-right: 6px;
  border: 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.button-house-2 {
  background-color: var(--light-brown);
  width: 110px;
  height: 27px;
  text-align: center;
  border: 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.bh {
  margin-left: 29px;
  display: flex;
}

.button-house-2:hover {
  background-color: var(--light-brown-two);
}

.button-house-2:focus {
  background-color: var(--light-brown-three);
}

.button-house-1:hover {
  background-color: var(--basic-hover);
}

.button-house-1:focus {
  background-color: var(--blue);
}

.button-search-hotel {
  background-color: var(--light-brown);
  color: var(--basic-white);
  max-width: 568px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.button-search-hotel:hover {
  background-color: var(--light-brown-two);
}

.house,
.footer-shell {
  color: var(--basic-black);
  list-style: none;
}

.inter {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  font-style: normal;
}

.inter-2 {
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.twitter {
  background-color: var(--basic-darker-blue);
  background-position: center;
  background-size: cover;
  width: 46px;
  max-height: 48px;
  display: block;
  text-align: center;
  padding: 16px 0;
  box-sizing: border-box;
  margin-right: 6px;
}

.fb {
  background-color: var(--basic-darker-blue);
  background-position: center;
  background-size: cover;
  width: 46px;
  max-height: 48px;
  display: block;
  text-align: center;
  padding: 12px 0;
  box-sizing: border-box;
  margin-right: 6px;
}

.youtube {
  background-color: var(--basic-darker-blue);
  background-position: center;
  background-size: cover;
  width: 46px;
  max-height: 48px;
  display: block;
  text-align: center;
  padding: 16px 0;
  box-sizing: border-box;
}

.twitter:hover,
.fb:hover,
.youtube:hover {
  background-color: var(--basic-hover);
}

.twitter:focus,
.fb:focus,
.youtube:focus {
  background: var(--blue);
}

.footer-copyright:hover {
  color: var(--basic-darker-blue);
}

.lol {
  padding: 0;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.footer-copyright:hover {
  fill: var(--basic-darker-blue);
}

.footer-copyright:focus {
  fill: var(--color-white);
}

.main-header {
  margin-bottom: 70px;
  display: grid;
  outline: 5px solid green;
  outline-offset: -5px;
  position: relative;
}

.main-header ul {
  display: flex; 
  margin: 0; 
}

ul {
  padding: 0;
  align-items: center;
  min-height: 55px;
}

.site-navigation li:nth-child(1) {
  margin-right: auto;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-right: 148px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  padding-right: 12px;
}

.site-navigation li:nth-child(4) {
  margin-left: auto;
  padding-right: 4px;
}

.footer-all {
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  outline: 5px solid blue;
  outline-offset: -5px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}

.width-site {
  width: 1200px;
  margin: 0 auto;
  outline: 5px solid blue;
  outline-offset: -5px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}

.features {
  outline: 5px solid blue;
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.news-list {
  outline: 5px solid palevioletred;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.icon-live,
.icon-burger,
.icon-souvenirs {
  outline: 5px solid pink;
  outline-offset: -5px;
  width: 400px;
  min-height: 285px;
  text-align: center;
  margin-top: 60px;
  background-color: #eeeeee;
}

.road,
.good-road,
.few-tourists {
  outline: 5px solid var(--basic-gray);
  outline-offset: -5px;
  min-height: 256px;
  text-align: center;
  line-height: 30px;
  background-color: #eeeeee;
}

.news-1 {
 color: #333333;
}

.features-list p,
.news-list p {
  margin: 0 10px;
}

.photo {
  outline: 5px solid greenyellow;
  outline-offset: -5px;
  display: grid;
}

.bridge-photo {
  outline: 5px solid greenyellow;
  outline-offset: -5px;
  display: grid;
}

.bridge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 5px solid #404;
  outline-offset: -5px;
}

.footer-contacts {
  outline: 5px solid brown;
  outline-offset: -5px;
  max-width: 327px;
  max-height: 121px;
  justify-content: left;
  margin-left: 150px;
}

.social-button {
  outline: 5px solid var(--light-brown);
  outline-offset: -5px;
  display: inline-flex;
  justify-content: center;
  max-width: 400px;
  max-height: 120px;
  margin-top: 0;
  margin-left: 90px;
  text-align: center;
}

.footer-name {
  outline: 5px solid peru;
  outline-offset: -5px;
  max-width: 200px;
  max-height: 120px;
  margin-left: 50px;
}

.type-home-2 {
  outline: 5px solid brown;
  outline-offset: -5px;
}

.examples-house {
  outline: 5px solid var(--basic-gray);
  outline-offset: -5px;
}

.found,
.sort,
.sort-1,
.sort-selector {
  display: flex;
  margin-right: 40px;
  margin-left: 37px;
}

.sort {
  margin-right: 20px;
}

.sort-1 {
  margin-right: -35px;
}

.ability {
  display: inline-flex;
  margin-right: 50px;
}

.ability-1 {
  display: inline-flex;
}

.price-1 {
  display: inline-flex;
  margin-left: 250px;
}

.type-home-2 {
  height: 125px;
}

.button-see-1 {
  display: flex;
  justify-content: center;
}

.hauses-preice {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.hause-img {
  margin-right: 0px;
  margin-top: 40px;
  margin-left: 70px;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.text-stars {
  color: #666666;
  background-color: #f6f6f6;
  width: 110px;
  height: 27px;
  text-align: center;
  font-size: 13px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.hotel-text-1 {
  display: flex;
  margin-left: 29px;
}

.text-3 {
  margin-right: 32px;
  margin-top: 0px;
  color: #333333;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.hause-img-1 {
  display: flex;
  align-items: center;
}

.stars-img {
  margin-top: 52px;
  margin-left: 580px;
  text-align: right;
}

.name-hause {
  margin-top: 23px;
  margin-bottom: -5px;
  margin-left: 29px;
}

.sedona-1 {
  width: 400px;
  min-height: 256px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #fff;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  align-items: center;
  text-transform: uppercase;
}

.photo,
.bridge-photo { 
  width: 800px;
  min-height: 256px;
}