:root {
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-ligt-blue: #137daa;
  --blue-dark: #5d7284;
  --basic-hover: #669ec0;
  --basic-darker-blue: #81b3d2;
  --blue: #5496bd;
  --blue-light: #88b6d1;
  --basic-white: #ffffff;
  --basic-gray-white: #f2f2f2;
  --basic-extra-gray: #cacaca;
  --basic-ligt-gray: #a9a9a9;
  --basic-gray-light: #ababab;
  --color-white: #bdbbbc;
  --basic-brown: #491213;
  --light-brown: #766357;
  --light-brown-two: #604e43;
  --light-brown-three: #503e33;
  --grau-1: #666666;
  --white-gray: #b3b3b3;
  --white-1: #e5e5e5;
  --white-2: #eeeeee;
  --white-3: #f6f6f6;
  --white-4: #cccccc;
  --white-5: #ebebeb;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  padding: 0 70px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation,
.news-list,
.social-button,
.examples-house-hotel,
.sort a,
.ability-list,
.sort {
  list-style: none;
}

.examples-house-hotel {
  display: block;
  margin: 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a,
.user-navigation a,
.website {
  color: var(--basic-black);
}

.site-navigation a:hover,
.house:hover {
  color: var(--basic-darker-blue);
}

nav {
  display: block;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
}

.sort a {
  color: var(--white-gray);
  mix-blend-mode: normal;
  opacity: 0.3;
  background-image: url(../images/line.svg);
  background-repeat: repeat-x;
  background-position: 2px 14px;
}

.sort a:hover {
  color: var(--basic-darker-blue);
  opacity: 1;
}

.sort a:focus {
  color: var(--basic-black);
  opacity: 1;
  background-image: none;
}

.site-navigation a:focus,
.house:focus h3 {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer-contacts social-button footer-copyright";
  align-items: center;
  position: relative;
  z-index: 1;
  width: 1200px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}

.footer-phone,
.sedona-center {
  color: var(--basic-black);
  margin-left: -21px;
  font-size: 20px;
}

.sedona-2 {
  color: var(--basic-gray);
}

.footer-wrapper {
  bottom: 0;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  margin-top: -120px;
  width: 1200px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer-contacts social-button footer-copyright";
  align-items: center;
}

.map img {
  display: block;
  margin-top: -63px;
}

.button-house-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-darker-blue);
  width: 110px;
  height: 27px;
  text-align: center;
  margin-bottom: 9px;
  margin-right: 6px;
  margin-left: -4px;
  border: 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-house-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-brown);
  width: 142px;
  height: 27px;
  text-align: center;
  margin-right: -28px;
  margin-top: -1px;
  border: 0;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.bh {
  margin-left: 32px;
  display: flex;
  margin-bottom: 8px;
}

.button-house-2:hover {
  background-color: var(--light-brown-two);
  cursor: pointer;
}

.button-house-2:focus {
  background-color: var(--light-brown-three);
}

.button-house-1:hover {
  background-color: var(--basic-hover);
  cursor: pointer;
}

.button-house-1:focus {
  background-color: var(--blue);
}

.icons {
  margin-left: -2px;
  margin-top: 1px;
}

.icons-3 {
  margin-top: -4px;
  margin-left: 1px;
}

.map {
  position: relative;
}

.button-search-hotel {
  background-color: var(--light-brown);
  color: var(--basic-white);
  max-width: 568px;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 42px;
  font-size: 21px;
  font-weight: bold;
  line-height: 31px;
  padding: 26px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.button-search-hotel:hover {
  background-color: var(--light-brown-two);
}

.house,
.footer-shell {
  color: var(--basic-black);
  list-style: none;
  font-size: 18px;
}

.inter {
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  margin-top: 56px;
  font-style: normal;
}

.inter h3 {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin-top: 28px;
  margin-right: 11px;
}

.inter-2 {
  text-align: center;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-size: 14px;
  line-height: 27px;
  color: var(--basic-black);
}

.twitter {
  background-color: var(--basic-darker-blue);
  background-position: center;
  background-size: cover;
  width: 46px;
  max-height: 48px;
  display: block;
  text-align: center;
  padding: 16px 0;
  box-sizing: border-box;
  margin-right: 6px;
}

.fb {
  background-color: var(--basic-darker-blue);
  background-position: center;
  background-size: cover;
  width: 46px;
  max-height: 48px;
  display: block;
  text-align: center;
  padding: 12px 0;
  box-sizing: border-box;
  margin-right: 6px;
}

.youtube {
  background-color: var(--basic-darker-blue);
  background-position: center;
  background-size: cover;
  width: 46px;
  max-height: 48px;
  display: block;
  text-align: center;
  padding: 16px 0;
  box-sizing: border-box;
}

.twitter:hover,
.fb:hover,
.youtube:hover {
  background-color: var(--basic-hover);
}

.twitter:focus,
.fb:focus,
.youtube:focus {
  background: var(--blue);
}

.footer-copyright:hover {
  color: var(--basic-darker-blue);
}

.website {
  position: absolute;
  margin-left: -89px;
  padding-top: 6px;
}

.lol {
  padding: 0;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.footer-copyright:hover {
  fill: var(--basic-darker-blue);
}

.footer-copyright:focus {
  fill: var(--color-white);
}

.main-header {
  margin-bottom: 70px;
  display: grid;
  position: relative;
  font-weight: bold;
  box-shadow: 0px -10px 15px 10px rgb(0 1 1 / 20%);
}

.main-header ul {
  display: flex;
  margin: 0;
}

ul {
  padding: 0;
  align-items: center;
  min-height: 55px;
}

.site-navigation li:nth-child(1) {
  margin-right: auto;
  padding-left: 3px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-right: 150px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  padding-right: 13px;
}

.site-navigation li:nth-child(4) {
  margin-left: auto;
  padding-right: 3px;
}

.footer-all {
  display: flex;
  justify-content: center;
  margin-left: -90px;
  margin-top: -17px;
}

.container {
  margin: 0 auto;
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}

.shadow {
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}

.width-site {
  width: 1200px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  box-shadow: none;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 49px;
}

.news-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  background-color: var(--white-2);
  margin-bottom: 0;
  margin: 0;
  list-style: none;
}

.icon-live,
.icon-burger,
.icon-souvenirs {
  width: 400px;
  min-height: 285px;
  text-align: center;
  margin-top: 60px;
  background-color: var(--white-2);
}

.road,
.good-road,
.few-tourists {
  min-height: 228px;
  text-align: center;
  line-height: 19px;
  font-size: 18px;
  padding-top: 28px;
  background-color: var(--white-2);
}

.road p,
.good-road p,
.few-tourists p {
  line-height: 20px;
  margin-top: 27px;
  word-spacing: 0px;
}

.news-1 {
  color: var(--basic-gray);
  font-size: 14px;
  line-height: 20px;
}

.icon-live p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  word-spacing: 0px;
}

.icon-burger p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  word-spacing: 0px;
}

.icon-souvenirs p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  word-spacing: 0px;
}

.icons-text-1 {
  margin-left: 0px;
  margin-top: 11px;
}

.icons-text-2 {
  margin-left: 0px;
  margin-top: 13px;
}

.icons-text-3 {
  margin-left: 2px;
  margin-top: 12px;
}

.photo {
  display: grid;
  width: 800px;
}

.bridge-photo {
  display: grid;
  width: 800px;
  margin-top: -15px;
}

.bridge {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-contacts {
  max-width: 327px;
  max-height: 121px;
  justify-content: left;
  margin-left: 172px;
  margin-top: -18px;
  font-size: 10px;
  font-weight: bold;
}

.social-button {
  display: inline-flex;
  justify-content: center;
  max-width: 400px;
  max-height: 120px;
  margin-top: 36px;
  margin-left: 90px;
  text-align: center;
}

.footer-name {
  max-width: 200px;
  max-height: 120px;
  margin-left: 155px;
  margin-top: 11px;
}

.amara-h {
  margin-top: 16px;
}

.villas-h {
  margin-bottom: 7px;
  margin-left: 0px;
  margin-top: 2px;
}

.hotel-villas {
  margin-left: 20px;
  margin-bottom: 15px;
}

.bh-villas {
  margin-bottom: -5px;
  margin-left: 33px;
  margin-right: -1px;
}

.desert-h {
  margin-top: 16px;
  margin-left: -1px;
}

.type-home-2 {
  box-sizing: border-box;
  min-height: 215px;
  max-height: 217px;
  max-width: 1200px;
  color: var(--basic-white);
  background: var(--blue-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/background-filter.png");
}

.found,
.sort,
.sort-1,
.sort-selector,
.sorting-price-list {
  display: flex;
  margin-right: 0px;
  margin-left: 42px;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.found {
  margin-top: 16px;
}

.sort li {
  margin-right: 32px;
  font-size: 12px;
  margin-top: -8px;
}

.ability-1 {
  display: inline-flex;
  margin-top: 5px;
}

.type-home-2 {
  height: 217px;
}

.button-see-1 {
  display: flex;
  justify-content: center;
}

.hauses-preice {
  display: flex;
  width: 1200px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--white-1);
}

.submit-house {
  max-width: 256px;
}

.sort-selector {
  border-bottom: 1px solid var(--white-1);
  width: 1200px;
  margin: 0;
  padding-left: 60px;
  max-height: 85px;
  padding-left: 31px;
  padding-top: 1px;
}

.sort-text {
  margin-left: 6px;
  font-size: 12px;
  margin-top: 5px;
}

.hause-img {
  margin: 0 0 -6px 72px;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.text-stars {
  display: flex;
  color: var(--grau-1);
  background-color: var(--white-3);
  width: 110px;
  height: 27px;
  text-align: center;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-right: 71px;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
}

.stars-images {
  margin-right: 72px;
  margin-bottom: -3px;
  margin-top: 17px;
}

.text-stars-a {
  margin-top: 40px;
  margin-right: 71px;
}

.stars-images-a {
  margin-right: 72px;
  margin-top: 18px;
  height: 25px;
}

.stars-bad-1 {
  width: 111px;
}

.hotel-text-1 {
  display: flex;
  margin-left: 29px;
  line-height: 9px;
  margin-bottom: 8px;
}

.hotel-text-2 {
  display: flex;
  margin-left: 29px;
  line-height: 9px;
  margin-bottom: 8px;
  width: 250px;
}

.hotel-text-3 {
  display: flex;
  margin-left: 8px;
  line-height: 9px;
  margin-bottom: 7px;
  width: 250px;
}

.text-desert {
  margin-right: 66px;
  margin-top: -1px;
  margin-left: -2px;
  color: var(--basic-gray);
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.text-3 {
  margin-right: 40px;
  margin-top: 0px;
  margin-left: -2px;
  color: var(--basic-gray);
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.hause-img-1 {
  display: flex;
  align-items: center;
}

.stars-img {
  margin-left: 552px;
  text-align: right;
}

.name-hause {
  margin-bottom: -5px;
  margin-left: 29px;
}

.sedona-1 {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-darker-blue);
  color: var(--basic-white);
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}

.sedona-22 {
  width: 400px;
  min-height: 256px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-darker-blue);
  color: var(--basic-white);
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  margin-top: -15px;
}

.sedona-22 p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-top: 14px;
  word-spacing: -1px;
}

.sedona-1 h1 {
  margin-top: 47px;
  font-size: 21px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.sedona-1 p {
  margin-top: 11px;
  word-spacing: 0px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.sedona-22 h1 {
  margin-top: 48px;
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.selection-post {
  display: flex;
  padding: 0 72px;
  margin-left: 50px;
  margin-right: 72px;
  padding-bottom: 7px;
  width: 1056px;
}

.ability ul {
  width: 256px;
  margin-top: 24px;
  line-height: 25px;
  margin-left: -9px;
  list-style: none;
}

.ability-1 ul {
  width: 274px;
  list-style: none;
  margin-top: 48px;
  margin-left: -49px;
  line-height: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-top: 20px;
  max-width: 50px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-size: 14px;
}

label[for="checkbox04"] {
  margin-top: 17px;
  margin-left: 2px;
}

label[for="checkbox05"] {
  margin-left: 1px;
}

label[for="checkbox06"] {
  margin-left: 1px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 2px;
  min-width: 25px;
  min-height: 25px;
  background-repeat: no-repeat;
  background-image: url(../images/checkbox-off.svg);
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -42px;
  width: 29px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../images/checkbox-on.svg");
}

.ability-text {
  width: 180px;
  margin-left: -49px;
  font-size: 16px;
  margin-top: 25px;
}

.ability-text-1 {
  width: 90px;
  margin-left: -42px;
  font-size: 16px;
  margin-top: 22px;
}

.filter-range {
  width: 315px;
  margin: 28px auto;
  padding-left: 120px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-left: -2px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-left: -2px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 31px;
}

.price-controls .min-price {
  margin-left: 63px;
}

.price-controls .max-price {
  width: 90px;
  margin-left: 71px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: var(--basic-gray-light);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 10px solid var(--basic-white);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;
  margin-right: 94px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-white);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}

.sorting-price {
  position: absolute;
  width: 1px;
  color: var(--basic-extra-gray);
  margin-left: 1040px;
  margin-top: 245px;
  display: flex;
}

.icon-up:hover {
  color: var(--basic-black);
}

.icon-down:hover {
  color: var(--basic-black);
  cursor: pointer;
}

.icon-up:active {
  color: var(--basic-darker-blue);
}

.icon-down:active {
  color: var(--basic-darker-blue);
}

.sorting-price-list {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sorting-price-list li {
  display: block;
  margin-left: -20px;
  margin-top: 4px;
  height: 268px;
  width: 43px;
  font-size: 15px;
}

.sorting-price-list a {
  background-color: transparent;
}

.sorting-price-list span {
  color: var(--white-4);
  line-height: 20px;
}

.icon-up::before {
  content: "\25b2";
}

.icon-down::before {
  content: "\25bc";
}

.welcome {
  width: 1200px;
  margin-top: -198px;
  text-align: center;
  line-height: 30px;
  font-size: 11px;
  padding-bottom: 63px;
  word-spacing: 0;
}

.welcome-p {
  display: block;
  margin-top: 38px;
  word-spacing: 0px;
  font-size: 14px;
}

.welcome-h1 {
  color: var(--basic-black);
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 11px;
  font-weight: bold;
  word-spacing: -3px;
}

.welcom p {
  line-height: 26px;
  margin-bottom: 0px;
}

.search-form {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -284px;
  padding: 55px;
  width: 568px;
  height: 395px;
  background: var(--basic-white);
  font-weight: bold;
  line-height: 26px;
  box-shadow: 0px 0px 15px 7px rgb(0 1 1 / 15%);
}

.search-form input[name="date-of-entry"],
.search-form input[name="date-of-departure"] {
  padding-left: 15px;
  position: relative;
}

.search-form input[name="date-of-departure"] {
  margin-top: -16px;
}

.search-form input[name="date-of-entry"]:hover,
.search-form input[name="date-of-departure"]:hover {
  background-color: var(--white-5);
}

.search-form input[name="date-of-entry"]:focus,
.search-form input[name="date-of-departure"]:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--white-1);
}

.search-form,
.search-form {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.departure {
  display: flex;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-top: 18px;
  justify-content: space-between;
  align-items: baseline;
}

.entry {
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  margin-top: 2px;
}

.search-form-visible {
  display: block;
}

.search-form input {
  border: none;
  background-color: rgb(242, 242, 242);
  height: 35px;
  width: 331px;
  text-transform: uppercase;
}

button,
input,
select,
textarea {
  font: inherit;
}

.search-form .amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 458px;
  box-sizing: border-box;
}

.modal-adults {
  max-width: 44px;
}

.modal-map {
  margin-top: -63px;
}

.amount button[name="minus-adult"] {
  margin-left: 40px;
}

.icon-calendar:hover,
.icon-calendar-2:hover {
  fill: var(--basic-black);
  cursor: pointer;
}

.icon-calendar:focus,
.icon-calendar-2:focus {
  fill: var(--basic-darker-blue);
  cursor: pointer;
  outline: none;
}

.icon-calendar {
  fill: var(--basic-ligt-gray);
  position: absolute;
  margin-left: 214px;
  bottom: 154px;
}

.icon-calendar-2 {
  fill: var(--basic-ligt-gray);
  position: absolute;
  margin-left: 214px;
  margin-top: 9px;
}

.adults label {
  margin-top: -3px;
}

.adults {
  display: flex;
  align-items: center;
}

.children {
  display: flex;
  align-items: center;
  margin-left: 106px;
}

.modal-quantity {
  display: flex;
  margin-top: 31px;
}

.children label {
  margin-left: -53px;
}

.quantity-controls-1 {
  background-color: var(--basic-gray-white);
  display: flex;
  margin-left: 42px;
  margin-top: -2px;
}

.quantity-controls-2 {
  background-color: var(--basic-gray-white);
  display: flex;
  margin-left: 28px;
}

.quantity-controls input {
  display: inline-block;
  width: 34px;
  height: inherit;
  border: 2px solid var(--basic-gray-white);
  padding: 4px 0 4px 11px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background: none;
  outline: none;
}

.adults input:hover,
.children input:hover {
  border-color: var(--white-5);
  background-color: var(--white-5);
}

.adults input:focus,
.children input:focus {
  border-color: var(--white-1);
  background-color: var(--basic-white);
}

.quantity-less,
.quantity-more {
  position: relative;
  display: inline-block;
  width: 40px;
  height: inherit;
  border: none;
  padding: 6px 0;
  vertical-align: top;
  font-size: 0;
  background: none;
  outline: none;
  cursor: pointer;
}

.quantity-less::before,
.quantity-more::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 11px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--basic-ligt-gray);
}

.quantity-more::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 3px;
  height: 11px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--basic-ligt-gray);
}

.quantity-less:hover::before,
.quantity-more:hover::before,
.quantity-more:hover::after {
  background-color: var(--basic-black);
}

.quantity-less:active::before,
.quantity-more:active::before,
.quantity-more:active::after {
  background-color: var(--basic-darker-blue);
}

.modal-search-btn {
  display: inline;
  width: 458px;
  height: 58px;
  border: 0;
  margin-top: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-darker-blue);
  text-transform: uppercase;
}

.modal-search-btn:hover {
  background-color: var(--basic-hover);
}

.modal-search-btn:active {
  background-color: var(--blue);
  color: var(--blue-light);
}

.modal-btn {
  position: relative;
}

.modal {
  display: block;
  position: absolute;
  z-index: 100;
  margin-left: 458px;
}

.main-footer-catalog {
  height: 120px;
}

.modal.popup-close {
  display: none;
}

iframe {
  border: none;
  width: 100%;
}
